@import '../styles/animations.css';
@import '../styles/misc.css';
@import '../styles/skeleton.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	width: 100vw;
	height: 100dvh;
	max-height: 100dvh;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
		Helvetica, Arial, sans-serif, system-ui;
	color: white;
}

body::after {
	--line: hsl(0 0% 95% / 0.15);
	--size: 60px;
	content: '';
	height: 100vh;
	width: 100vw;
	position: fixed;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50%
			50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
			var(--size) var(--size);
	-webkit-mask: linear-gradient(-15deg, transparent 10%, white);
	mask: linear-gradient(-15deg, transparent 10%, rgba(255, 255, 255, 0.5));
	top: 0;
	z-index: -1;
	transform: translate3d(0, 0, -100vmin);

	.container {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 15px;
		margin-top: 50px;
	}

	@media (min-width: 576px) {
		.container {
			max-width: 540px;
		}
	}

	@media (min-width: 768px) {
		.container {
			max-width: 720px;
		}
	}

	@media (min-width: 992px) {
		.container {
			max-width: 960px;
		}
	}
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--border: #333333;
	--section-border: '#ffffff24';
	/* --section: #0b0a0b; */
	--section: '#0A0A0A';
	--card-light: '#171716';
	--section-light: '#101110';
	--body: #000101;
	--button-bg: '#0B0A0B';
	--button-hover: '#1f1f1f';
	--text: '#ededed';
	--text-sub: '#a1a1a1';
	--text-disabled: '#888888';

	--bezier-one: cubic-bezier(0.6, -1.2, 0.2, 2.2);
	--bezier-two: cubic-bezier(0.02, 0.01, 0.21, 1);
	--bezier-three: cubic-bezier(0.215, 0.61, 0.355, 1);
	--bezier-four: cubic-bezier(0.77, 0, 0.175, 1);
	--bezier-five: cubic-bezier(0.23, 1, 0.32, 1);
	--bezier-six: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.border-card {
	border: 1px solid rgb(229, 231, 235);
}

.footer-btn {
	background: rgb(16 15 15);
	border: 1px solid #21211f;
}

.header-btn {
	background: rgb(6, 7, 7);
	border: 1px solid rgba(33, 33, 31, 0.3);
}
